{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "jsxSingleQuote": false
}
